h3 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1px;
    font-size: 20px;
    color: rgb(34, 26, 26);
}
p {font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    font-size: medium;
    color: rgb(77, 67, 60);
}
